.alarm-clock {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.time {
    margin-bottom: 20px;
}

.time input[type="number"] {
    width: 40px;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
}

#setAlarmBtn {
    background-color: #07a5e4c9;
    color: #fff;
    padding: 10px 90px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#setAlarmBtn:hover {
    background-color: #3e8e41;
}

#alarmStatus {
    font-size: 24px;
    color: #666;
    margin-top: 20px;
}