body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    /* flex-direction: column; */
}

.card-slider {
    width: 985px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.card-wrapper {
    display: flex;
    align-items: center;
    padding: 30px;
    transition: transform 0.5s ease;
}

.card {
    min-width: 250px;
    height: 350px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 10px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #1e88e5;

}

.profile-pic {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e88e5;
}

.p-img {
    border-radius: 50%;
    height: 50%;
    width: 35%;
    background-color: white;

}

.review-box {
    flex: 6;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: white;
}

.v-btn {
    padding: 5px 10px;
    border: none;
    background-color: #1e88e5;
    border-radius: 5px;
    font-weight: 500;
    color: white;
}

#prevBtn,
#nextBtn {
    margin-top: 20px;
    padding: 7px 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: #1e88e5;
    border: none;
    border-radius: 5px;
    margin: 5px;
}


